<template>
  <div class="auth" role="tablist">
    <div class="col-md-4 offset-md-4 card-text">
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion variant="primary">Connexion</b-btn>
        </b-card-header>
        <b-collapse visible id="accordion" accordion="accordion" role="tabpanel">
          <b-card-body>
           <div class="card-text">
            <login/>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion2 variant="light">Inscription</b-btn>
        </b-card-header>
        <b-collapse id="accordion2" accordion="accordion" role="tabpanel">
          <b-card-body>
           <div class="card-text">
            <signup/>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
</div>
</template>

<script>
import Signup from './Signup.vue'
import Login from './Login.vue'

export default {
  components: {
    Login,
    Signup
  }
}
</script>

<style scoped>
</style>
