<template>
  <div class="login">
    <form @submit.prevent="validateBeforeSubmit">
      <div class="text-danger alert alert-danger" :class="{'collapse': !wrongCredentials}">Pseudo ou mot de passe invalide</div>
      <div class="form-group" :class="{'has-error': errors.has('pseudo') }">
        <label class="control-label" for="pseudo">Pseudo</label>
        <input v-model="credentials.pseudo" v-validate="'required|alpha'" class="form-control" type="text" name="pseudo">
        <p class="text-danger alert alert-danger" v-if="errors.has('pseudo')">{{ errors.first('pseudo') }}</p>
      </div>
      <div class="form-group" :class="{'has-error': errors.has('pwd') }">
        <label class="control-label" for="pwd">Mot de passe</label>
        <input v-model="credentials.password" v-validate="'required'" class="form-control" type="password" name="pwd">
        <p class="text-danger alert alert-danger" v-if="errors.has('pwd')">{{ errors.first('pwd') }}</p>
      </div>
      <button class="btn btn-primary btn-block" type="submit">Se connecter</button>
    </form>
  </div>
</template>

<script>
import {HTTP} from '../../http-common'

export default {
  name: 'Login',
  data () {
    return {
      credentials: {
        pseudo: '',
        password: ''
      },
      wrongCredentials: false
    }
  },
  methods: {
    validateBeforeSubmit (e) {
      this.$validator.validateAll()
      if (!this.errors.any()) {
        this.login()
      }
    },
    login () {
      HTTP.post('/users/login', JSON.stringify(this.credentials))
      .then(response => {
        if (response.status === 200) {
          this.$session.start()
          this.$session.set('user', response.data)
          this.$router.push({name: 'Home'})
        }
      })
      .catch(e => { this.wrongCredentials = true })
    }
  }
}
</script>

<style scoped>
</style>
