
<template>
    <div class="signup">
        <form @submit.prevent="validateBeforeSubmit">
          <div class="text-danger alert alert-danger" :class="{'collapse': !pseudoExists}">
            Pseudo déjà utilisé. Veuillez en choisir un autre.
          </div>
          <div class="form-group" :class="{'has-error': errors.has('pseudo') }">
            <label class="control-label" for="pseudo">Pseudo</label>
            <input v-model="credentials.pseudo" v-validate="'required|alpha'" class="form-control" type="text" name="pseudo">
            <p class="text-danger  alert alert-danger" v-if="errors.has('pseudo')">{{ errors.first('pseudo') }}</p>
          </div>
          <div class="input-field">
            <div class="form-group" :class="{'has-error': errors.has('pwd') }">
              <label class="control-label" for="pwd">Mot de passe</label>
              <input v-model="credentials.password" v-validate="'required'" class="form-control" type="password" name="pwd">
              <p class="text-danger  alert alert-danger" v-if="errors.has('pwd')">{{ errors.first('pwd') }}</p>
            </div>
            <div class="form-group" :class="{'has-error': errors.has('pwdRepeat') }">
              <label class="control-label" for="pwdRepeat">Confirmation du mot de passe</label>
              <input v-model="passwordRepeat" v-validate="'required|confirmed:pwd'" class="form-control" type="password" name="pwdRepeat">
              <p class="text-danger alert alert-danger" v-if="errors.has('pwdRepeat')">{{ errors.first('pwdRepeat') }}</p>
            </div>
          </div>

          <button class="btn btn-primary btn-block" type="submit">S'inscrire</button>
        </form>
      </div>
    </div>
</template>

<script>
import {HTTP} from '../../http-common'

export default {
  name: 'Signup',
  data () {
    return {
      credentials: {
        pseudo: '',
        password: ''
      },
      passwordRepeat: '',
      pseudoExists: false
    }
  },
  methods: {
    validateBeforeSubmit (e) {
      this.$validator.validateAll()
      if (!this.errors.any()) {
        this.submitForm()
      }
    },
    submitForm () {
      HTTP.post('/users', JSON.stringify(this.credentials))
      .then(response => {
        if (response.status === 201) {
          this.$session.start()
          this.$session.set('user', response.data)
          this.$router.push({name: 'Home'})
        }
      })
      .catch(e => { this.pseudoExists = true })
    }
  }
}
</script>

<style scoped>
</style>
