<template>
  <div class="administration">
    <b-row class="justify-content-md-center">
      <b-col lg="3"><br><br><br>
       <b-button variant="primary" @click="gotoDictForm()">Nouvelle dictée</b-button>
     </b-col>
     <b-col lg="3">
      <upload/>
    </b-col>
  </b-row>
</div>
</template>

<script>
import Upload from './Upload.vue'

export default {
  name: 'Administration',
  methods: {
    gotoDictForm () {
      this.$router.push({name: 'DictationForm', params: { name: 'new' }})
    }
  },
  mounted: function () {
  },
  components: {
    Upload
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
