<template>
  <div class="dictationForm">
    <navbar/>
    <b-container>

      <h1 class="display-6">
         {{ formNew ? 'Création d\'une nouvelle dictée' : 'Modification d\'une dictée' }}
       </h1>

      <form @submit.prevent="validateBeforeSubmit">
        <b-row>

          <b-col>

            <div class="form-group" :class="{'has-error': errors.has('name') }">
              <label class="control-label" for="name">Nom</label>
              <input v-model="dictation.name" :class="{'input': true, 'is-danger': errors.has('name') }" v-validate="'required'" class="form-control" type="text" name="name" :disabled="!formNew">
              <p class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</p>
            </div>

            <div class="form-group" :class="{'has-error': errors.has('diff') }">
              <label class="control-label" for="diff">Difficulté</label>
              <input v-model="dictation.difficulty" v-validate="'required'" class="form-control" type="text" name="diff">
              <p class="text-danger" v-if="errors.has('diff')">{{ errors.first('diff') }}</p>
            </div>

          </b-col>

          <b-col>

            <div class="form-group" :class="{'has-error': errors.has('audio') }">
              <label class="control-label" for="audioPath">Fichier audio :</label>
              <input  v-on:change="updateAudioFile" v-validate="'required|mimes:audio/*'" class="form-control" type="file" name="audio" id="audio">
              <p class="text-danger" v-if="errors.has('audio')">{{ errors.first('audio') }}</p>
            </div>

            <div class="form-group" :class="{'has-error': errors.has('description') }">
              <b-form-textarea id="descr" v-validate="'required'" placeholder="Description de la dictée" v-model="dictation.description" :rows="4" name="description" class="form-control">
              </b-form-textarea>
              <p class="text-danger" v-if="errors.has('description')">{{ errors.first('description') }}</p>
            </div>


          </b-col>

        </b-row>
        <b-row>

          <b-col v-if="formNew">
            <legend :class="{ 'error': errors.has('rule') }">Règle</legend>
            <div class="control" >
              <b-row>
              <b-col cols="3" v-for="rule in allRules" :key="rule.name" >
               <label class="radio">
                <input name="rule" v-validate="'required'" :value="rule.name" v-model="selectedRule" type="radio" :disabled="rule.dictation !== 'null' && rule.dictation !== dictation.name" class="form-control">
                {{ rule.name }}
              </label>
            </b-col></b-row>
            <p class="text-danger" v-if="errors.has('rule')">{{ errors.first('rule') }}</p>
          </div>
        </b-col>
      </b-row>

      <b-button variant="primary" type="submit" v-b-modal.modal1>
        {{ formNew ? 'Ajouter' : 'Modifier'}} la dictée
      </b-button>

      <b-modal id="modal1" title="Dictée modifiée" ok-only @ok="$router.push({name: 'Home' })"
      v-if="!errors.any() && formData.get('audio') !== null">
      <p class="my-4">La dictée a bien été modifiée</p>
    </b-modal>

  </form>
</b-container>
</div>
</template>

<script>
import {HTTP} from '../http-common'

export default {
  name: 'DictationForm',
  data () {
  // eslint-disable-next-line
    return {
      formData: new FormData(),
      dictation: {},
      allRules: [],
      selectedRule: '',
      formNew: this.$route.params.name === 'new'
    }
  },
  methods: {
    validateBeforeSubmit (e) {
      this.$validator.validateAll()
      if (!this.errors.any() && this.formData.get('audio') !== null) {
        this.send()
      }
    },
    updateAudioFile () {
      var file = document.querySelector('#audio')
      this.formData.append('audio', file.files[0])
    },
    send () {
      var formData = this.formData
      var dictation = this.dictation
      if (this.formNew) {
        this.dictation.rule = JSON.stringify(this.allRules.find(r => this.selectedRule === r.name))
      }
      console.log(this.dictation)
      Object.keys(this.dictation).forEach(function (key) { formData.append(key, dictation[key]) })
      HTTP.post('/dictations', formData)
      .catch(e => { console.log('error sending dictation') })
    },
    getHttp (path, funOk) {
      HTTP.get(path)
      .then(response => {
        if (response.status === 200) {
          funOk(response.data)
        }
      })
      .catch(e => { console.log('error retrieving data') })
    }
  },
  mounted: function () {
    if (!this.formNew) {
      this.getHttp('/dictations/' + this.$route.params.name, data => {
        console.log(data)
        this.dictation = data
        this.dictation.rule = JSON.stringify(this.dictation.rule)
      })
    }
    this.getHttp('/rules', data => { this.allRules = data })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
