<template>
  <div class="dictation">
    <navbar/>

    <b-container>
      <h1>{{ this.$route.params.name }}</h1>
      <b-row>
        <b-col>

          <div id="audio" v-html="audio">
          </div>

          <div v-if="show_corr" v-html="input" class="panel">
          </div>
          <b-form-textarea id="input" placeholder="Ecrivez ce que vous entendez..."
          v-else v-model="input" :rows="10">
        </b-form-textarea>
        <b-button variant="primary" @click="show_hints=!show_hints" :disabled="show_corr">Indication</b-button>
      <b-button variant="primary" @click="correction">Correction</b-button>
      </b-col>

      <b-col>
        <div id="rightPanel" class="panel">
          <div v-if="show_hints">
            <b-list-group>
              <b-list-group-item :key="dictation.rule.name">{{ dictation.rule.hint }}</b-list-group-item> 
            </b-list-group>
          </div>
          <div v-else-if="show_corr" v-html="corrected">
            {{ corrected }}
          </div>
        </div>
      </b-col>
    </b-row>

    <div id="resume" class="panel">
      {{ result }}
    </div>
    <b-row>

    </b-row>
  </b-container>
</div>
</template>

 <script>
import {HTTP} from '../http-common'
var jsdiff = require('diff')
export default {
  name: 'Dictation',
  data () {
    return {
      correct: true,
      input: '',
      corrected: '',
      dictation: '',
      show_hints: false,
      show_corr: false,
      audio: '',
      score: '',
      result: ''
    }
  },
  methods: {
    correction () {
      this.show_hints = false
      this.show_corr = true
      var correct = true
      var nbMist = 0
      var diff = jsdiff.diffSentences(this.dictation.correction, this.input)
      var inputCorr = ''
      var corrected = ''
      diff.forEach(function (part) {
        var color = part.added ? 'red' : part.removed ? 'green' : 'black'
        var span = '<span style="color: ' + color + '">' + part.value + '</span>'
        if (part.added) {
          inputCorr += span
        } else if (part.removed) {
          corrected += span
        } else {
          nbMist += 1
          inputCorr += span
          corrected += span
        }
        if (part.added || part.removed) {
          correct = false
        }
      })
      if (correct) {
        this.result = 'Vous avez tout bon ! Félicitation, vous maîtrisez désormais cette règle. Mais si jamais vous réeffectuez cette dictée et que vous vous trompez, vous ne la maîtriserez plus ! '
      } else {
        this.result = 'Vous avez fait des fautes, vous ne maîtrisez donc pas ou plus cette règle et des phrases la concernant vous seront proposées sur la page d\'entraînement. Effectuez-là de nouveau sans erreur pour la maîtriser!'
      }
      this.score = nbMist
      this.correct = correct
      this.input = inputCorr
      this.corrected = corrected
      console.log(this.dictation.correction)
      var isCorrect =
        {
          'user': this.$session.get('user').pseudo,
          'rule': this.dictation.rule.name,
          'correct': this.correct,
          'score': this.score,
          'dictation': this.dictation.name
        }
      HTTP.post('/sentences/verify', JSON.stringify(isCorrect))
      .then(response => {
        if (response.status === 200) {
          this.$session.set('user', response.data)
        }
      })
    }
  },
  mounted: function () {
    HTTP.get('/dictations/' + this.$route.params.name)
      .then(response => {
        if (response.status === 200) {
          this.dictation = response.data
          this.audio = '<audio controls="controls">' +
                          '<source type="audio/mpeg" src="data:audio/mpeg;base64,' + this.dictation.audio + '">' +
                       '</audio>'
        }
      })
      .catch(e => { console.log('error retrieving dictation') })
  },
  beforeCreate: function () {
    if (!this.$session.exists()) {
      this.$router.push({ name: 'Auth' })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.panel {
  border: 1px solid grey;
  border-radius: 5px;
  min-height: 100px;
}
#rightPanel{
  height: 100%
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>