<template>
  <div class="Homepage">
    <navbar/>
    <div v-if="isAdmin">
      <administration/>
    </div>
    <h1 class="display-6">Bonjour, {{ pseudo }}!</h1>
    <b-row>
      <b-col>
        <table class="table-bordered">
          <thead>
          <tr>
            <th v-if="isAdmin" class="col-md-1">Admin</th>
            <th class="col-md-1">Révisions</th>
            <th :class="'col-md-' + isAdmin ? '1' : '2'">Difficulté</th>
            <th class="col-md-3">Nom</th>
            <th class="col-md-5">Description</th>
            <th class="col-md-1">Score</th>
          </tr>
        </thead>
          <tr v-for="dict in dictations">
            <td v-if="isAdmin">
                <b-button size="sm" type="button" @click="goto('DictationForm', dict.name)">M</b-button>
                <b-button size="sm" type="button" @click="toDelete = dict.name" v-b-modal.modalDelete>S</b-button>
            </td>
            <td>
              <b-button variant="info" size="sm" type="button" @click="goto('Revision', dict.name)">
                Fiche {{ dict.name }}
              </b-button>
            </td>
            <td>{{ dict.difficulty }}</td>
            <td>
              <b-button variant="info" size="sm" type="button" @click="goto('Dictation', dict.name)">
                {{ dict.name }}
              </b-button>
            </td>
            <td>{{ dict.description }}</td>
            <td>{{ dict.score }} / {{ dict.maxScore }}</td>
          </tr>
        </table>
      </b-col>
    </b-row>

    <b-modal id="modalDelete" @ok="deleteDict(toDelete)">
      Etes-vous certain de vouloir supprimer cette dictée?
    </b-modal>
  </div>
</template>

 <script>
import {HTTP} from '../http-common'
import Administration from './Administration.vue'
export default {
  name: 'Homepage',
  data () {
    return {
      fields: [
        { key: 'difficulty', label: 'Difficulté' },
        { key: 'name', label: 'Nom' },
        { key: 'description', label: 'Description' },
        'score'
      ],
      pseudo: this.$session.get('user').pseudo,
      dictations: [],
      isAdmin: this.$session.get('user').role.label === 'admin',
      toDelete: ''
    }
  },
  methods: {
    goto (component, dictation) {
      this.$router.push({name: component, params: { name: dictation }})
    },
    deleteDict (name) {
      HTTP.delete('/dictations', {
        params: {name: name},
        headers: {
          'User-Agent': '',
          'Accept': '',
          'Host': ''
        }
      })
      .then(response => {
        console.log('SALUUUUUT')
        if (response.status === 204) {
          this.loadDict()
        }
      }).catch(e => { console.log('error retrieving dictations' + e) })
    },
    loadDict () {
      HTTP.get('/dictations', {params: { 'pseudo': this.$session.get('user').pseudo }})
      .then(response => {
        if (response.status === 200) {
          this.dictations = response.data
          console.log(this.dictations)
        }
      })
      .catch(e => { console.log('error retrieving dictations') })
    }
  },
  mounted: function () {
    this.loadDict()
  },
  beforeCreate: function () {
    if (!this.$session.exists()) {
      this.$router.push({ name: 'Auth' })
    }
  },
  components: {
    Administration
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
