<template>
	<b-navbar toggleable="md" type="dark" variant="info">

		<b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

		<b-navbar-brand href="#">OrthoPro</b-navbar-brand>

		<b-collapse is-nav id="nav_collapse">

			<b-navbar-nav>
				<b-nav-item @click="goto('Home')">Accueil</b-nav-item>
				<b-nav-item @click="goto('Rules')">Liste des règles</b-nav-item>
				<b-nav-item @click="goto('Training')">Entraînement</b-nav-item>
			</b-navbar-nav>

			<b-navbar-nav class="ml-auto">
				<b-nav-item @click="logout">Déconnexion</b-nav-item>
			</b-navbar-nav>
		</b-collapse>
	</b-navbar>
</template>

<script>
// import {HTTP} from '../http-common'
export default {
  name: 'navbar',
  methods: {
    goto (compoName) {
      this.$router.push({ name: compoName })
    },
    logout () {
      this.$session.destroy()
      this.goto('Auth')
    }
  }
}
</script>

<style>
li{
color: red
}

</style>
