<template>
  <div class="revisionSheet">
    <navbar/>
    <h1>Fiche de révision de la dictée "{{ this.$route.params.name }}"</h1>
    <b-container>
      <b-row>
        <b-col>
            <b-card no-body class="mb-1">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-btn block href="#" v-b-toggle="'accordion-'" variant="info">{{ rule.name }}</b-btn>
              </b-card-header>
              <b-collapse visible :id="'accordion-'" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <b-row>

                    <b-col>
                      <p class="card-text">
                        {{ rule.body }}
                      </p>
                    </b-col>
                </b-row>
              </b-card-body>
            </b-collapse>
          </b-card>
      </b-col>
    </b-row>
     <b-button variant="primary" @click="gotoDict">Je suis prêt!</b-button>
  </b-container>
</div>
</template>

 <script>
import {HTTP} from '../http-common'
export default {
  name: 'Revision',
  data () {
    return {
      rule: ''
    }
  },
  methods: {
    gotoDict () {
      this.$router.push({name: 'Dictation', params: { name: this.$route.params.name }})
    }
  },
  mounted: function () {
    HTTP.get('/dictations/' + this.$route.params.name)
    .then(response => {
      if (response.status === 200) {
        this.rule = response.data.rule
      }
    })
    .catch(e => { console.log(e) })
  },
  beforeCreate: function () {
    if (!this.$session.exists()) {
      this.$router.push({ name: 'Auth' })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>