<template>
  <div class="rules">
    <navbar/>
     <b-container>
      <h1 class="display-6">
        Liste des règles
      </h1>
      <b-row>
        <b-col>
          <div v-for="(rule,index) in rules">
            <b-card no-body class="mb-1">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-btn block href="#" v-b-toggle="'accordion-' + index" :variant="rule.mastered?'success':'danger'">
                <div>
                 {{ rule.name }}
               </div>
             </b-btn>
              </b-card-header>
              <b-collapse :id="'accordion-'+index" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <b-row>

                    <b-col>
                      <p class="card-text">
                        {{ rule.body }}
                      </p>
                    </b-col>

                    <b-col>
                      <b-card sub-title="Dictée utilisant cette règle :" tag="article" class="mb-2">
                        <b-btn variant="link" v-if="rule.dictation !== 'null'"
                        @click="$router.push({name: 'Dictation', params: { name: rule.dictation }})">
                      {{ rule.dictation }}
                        </b-btn>
                        <p v-else>Aucune dictée n'utilise cette règle pour le moment</p> 
                      </b-card>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
      </b-col>
    </b-row>
  </b-container>
</div>
</template>

 <script>
import {HTTP} from '../http-common'
export default {
  name: 'Rules',
  data () {
    return {
      rules: []
    }
  },
  methods: {
  },
  mounted: function () {
    HTTP.get('/rules', { params: { 'pseudo': this.$session.get('user').pseudo } })
    .then(response => {
      if (response.status === 200) {
        var nonMastered = this.$session.get('user').rules
        this.rules = response.data
        console.log(nonMastered)
        this.rules.forEach(r => { r.mastered = nonMastered.find(r2 => r.name === r2.name) === undefined })
      }
    })
    .catch(e => { console.log(e) })
  },
  beforeCreate: function () {
    if (!this.$session.exists()) {
      this.$router.push({ name: 'Auth' })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>