<template>
  <div class="training">
    <navbar/>
    <b-container>
        <h1 class="display-6">
          Entraînement
        </h1>
        <p>Entraînez-vous ici à corriger des phrases faisant appliquer des règles que vous ne maîtrisez pas encore!</p>
      <b-row>
        <b-col>
          <b-alert show variant="info">
            <span v-if="sentence!==null">
              {{ sentence.wording }}
            </span>
          </b-alert>
          <div>
           <b-form-textarea id="input"
           v-model="input"
           placeholder="Corrigez la phrase ci-dessus..."
           :rows="2">
         </b-form-textarea>
       </div>
     </b-col>
   </b-row>
   <b-row>
    <b-col>
      <b-button variant="primary" @click="show_rule=false; show_hint=!show_hint" :disabled="show_corr">Afficher un indice</b-button>
    </b-col>
    <b-col>
      <b-button variant="primary" @click="show_hint=false; show_rule=!show_rule" :disabled="show_corr">Rappeler la règle</b-button>
    </b-col>
    <b-col>
      <b-button variant="primary" @click="correction">Correction</b-button>
    </b-col>
  </b-row>
  <b-row>
    <b-col>
    <div class="panel">
      <div v-if="show_hint">
        {{ sentence.rule.hint }}
      </div>
      <div v-else-if="show_rule">
        {{ sentence.rule.body }}
      </div>
      <div v-else-if="show_corr" v-html="corrected">
      </div>
      {{ message }}
    </div>
  </b-col>
  </b-row>
  <b-button variant="primary" v-if="show_corr" @click="getASentence">Phrase suivante</b-button>
</b-container>
  <b-modal ref="modal1" title="Tu connais tout" ok-only @ok="$router.push({name: 'Home' })">
    <p class="my-4">Vous connaissez déjà toutes les règles, nous n'avons plus rien à vous apprendre pour le moment!</p>
  </b-modal>
</div>
</template>

 <script>
import {HTTP} from '../http-common'
var jsdiff = require('diff')
export default {
  name: 'Training',
  data () {
    return {
      message: 'coucouc',
      sentence: {},
      corrected: '',
      input: '',
      show_hint: false,
      show_rule: false,
      show_corr: false
    }
  },
  methods: {
    correction () {
      var diff = jsdiff.diffWords(this.sentence.correction, this.input)
      var corrected = ''
      var correct = true
      diff.forEach(function (part) {
        var color = part.added ? 'red' : part.removed ? 'green' : 'black'
        if (part.added || part.removed) {
          correct = false
        }
        corrected += '<span style="color: ' + color + '">' + part.value + '</span>'
      })
      this.corrected = corrected
      this.show_corr = true
      this.show_rule = false
      this.show_hint = false
      if (correct) {
        this.message = 'Bonne réponse!'
        this.corrected = ''
      }
    },
    getASentence () {
      this.corrected = ''
      this.message = ''
      this.show_corr = false
      HTTP.post('/sentences/random', this.$session.get('user').pseudo)
      .then(response => {
        console.log(response.data)
        if (response.status === 200) {
          this.sentence = response.data
        } else if (response.status === 204) {
          this.sentence = null
          this.$refs.modal1.show()
        }
      })
      .catch(e => { console.log('error retrieving sentence ' + e) })
    }
  },
  mounted: function () {
    this.getASentence()
  },
  beforeCreate: function () {
    if (!this.$session.exists()) {
      this.$router.push({ name: 'Auth' })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.panel {
  border: 1px solid grey;
  border-radius: 5px;
  min-height: 75px;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>