<template>
  <div class="upload">
    <form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data">
      <span>{{ msg }}</span>
      <div class="form-group" :class="{'has-error': errors.has('file') }">
        <label class="control-label" for="file">Charger de nouvelles règles:</label>
        <input v-validate="'required|ext:xlsx,xls'" class="form-control" type="file" name="file" id="file">
        <p class="text-danger" v-if="errors.has('file')">{{ errors.first('file') }}</p>
      </div>
      <button class="btn btn-primary btn-block" type="submit">Envoyer</button>
    </form>
  </div>
</template>

<script>
import {HTTP} from '../http-common'

export default {
  name: 'upload',
  data () {
  // eslint-disable-next-line
    return {
      file_content: '',
      msg: ''
    }
  },
  methods: {
    validateBeforeSubmit (e) {
      this.$validator.validateAll()
      if (!this.errors.any()) {
        this.send()
      }
    },
    send () {
      var formData = new FormData()
      var file = document.querySelector('#file')
      formData.append('file', file.files[0])
      HTTP.post('/upload', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      .then(response => {
        var user = this.$session.get('user')
        var credentials = { pseudo: user.pseudo, password: user.password }
        HTTP.post('/users/login', JSON.stringify(credentials))
        .then(response => {
          this.$session.set('user', response.data)
        })
        this.msg = 'Le fichier a bien été modifié'
      })
      .catch(e => { this.msg = 'Erreur lors de la modification des règles. Assurez-vous de transmettre un fichier Excel (.xls ou .xlsx)' })
    }
  },
  mounted: function () {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
